

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#social-links li {
    display: inline;
    text-decoration: none;
    padding: 30px;
    color: green;
}

				
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

#window-graphic {
    max-height:50%; 
    max-width:50%;
}

.row {
    padding-top: 50px;
    padding-bottom: 20px;
}

#server-graphic {
    max-width: 50%;
}




