

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#social-links li {
    display: inline;
    text-decoration: none;
    padding: 30px;
    color: green;
}

.jumbotron {
    margin-top: -5px;
    margin-bottom: 25px;
    background-color: #015249;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

#window-graphic {
    max-height:50%; 
    max-width:50%;
}

.row {
    padding-top: 70px;
    padding-bottom: 70px;
}


#about-style {
    background-color: #77c9d4;
    margin-top: -30px;
}

#about-style p {
    padding: 40px 0px 40px 0px;
}

#contact-info {
    background-color: #015249;
}

#contact-header{
    font-size: 5.0rem;
    padding: 50px 0px 50px 0px;
}


h1 {
    font-family: "lobster";
    color: white;
    text-align: center;
}

p {
    font-family: "raleway";
    color: white;
}

#portfolio-header h1 {
    font-size: 5.0rem;
    padding: 20px 0px 100px 0px;
    color: #a5a5af;
}


a {
    color:white;
}

footer p {
    color: black;
}

body {
  position: relative;
}

li {
    font-family: "raleway";
}

p {
    text-align: center;
}

#mithril-header {
    font-size: 5.0rem;
    padding: 100px 0px 100px 0px;
}

.navbar-brand {
    font-family: "raleway";
}