

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#social-links li {
    display: inline;
    text-decoration: none;
    padding: 30px;
    color: green;
}















